.keypad-container {
    flex-basis: 50%;
}
.keypad {
  height: 548px;
  width: 354px;
  margin: 50px auto;
  border: 1px solid white;
  background-color: black;
}
div#keyboard {
    text-align: center;
    width: 400px;
    height:150px;
    margin:0 auto;
    padding: auto;
}
ol.keys {
  list-style-type:none;
  margin-left: -20px;
}
ol.keys li {
  width:25%;
  display:block;
  text-align:center;
  height:2em;
  float:left;
  font-size:1.9em;
  font-family:sans-serif;
  padding-top:.7em;
  border:2px solid rgb(100,100,100);
  color: black;
  background-color: white;
  margin-left: 5px;
  margin-bottom: 5px;
}
ol.keys li:hover {
  cursor: pointer;
  background-color: #23cbff;
}
li:hover {
  box-shadow: inset 0px 0px 20px 4px rgba(143,143,143,1);
}
ol.keys li:active {
  background-color:rgb(200,200,200);
  color: #000;
}
.key.active {
  background-color: #23cbff;
}
div.screen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.screen {
    clear:both;
    width: 278px;
    margin-left: 24px;
    display:block;
    /*background-color:rgba(0,0,0,.9);*/
    color: white;
    background-color: black;
    border: 2px solid #c1c0c0;
    font-family:'Helvetica';
    font-size:2em;
    margin-top:0.8em;
    padding:.4em;
    height: 3em;
}
div.numberEmp {
  align-self: center;
}
.numberEmp{
    color: white;
    text-align: center;
    font-size: 65px;
    margin-left: 90px;
}
div.arrow {
    align-items: flex-end;
    align-self: center;
}
.arrow{
    color: white;
    font-size: 25px;
}
.ElevatorRange{
    font-size: 20px;
    margin: auto;
}
