.elevator-container {
  flex-basis: 50%;
}
.elevator {
  height: 100%;
  width: 400px;
  margin: auto;
  border: 1px solid black;
  display: flex;
}
.elevator .left, .elevator .right {
  height: 100%;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.elevator .center {
  background-color: black;
  height: 100%;
  flex-basis: 50%;
  position: relative;
}
.elevator .right .floor, .elevator .left .floor {
  border: 1px solid black;
  height: 50px;
  width: 50%;
  line-height: 70px;
  text-align: center;
}
.arrow-down, .arrow-up {
  font-size: 30px;
}
.stages {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.stage {
  height: 50px;
  line-height: 50px;
}
.stage-number {
  color: white;
}
.doors {
  position: absolute;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-door, .right-door {
  height: 100%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.left-door {
  margin-left: 10px;
  border-right: 1px solid black;
}
.right-door {
  margin-right: 10px;
  border-left: 1px solid black;
}
.doors.isMoving, .door.isOpening {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}
.door.isOpening {
  width: 5%;
}
.floor.active {
  background-color: #47C2EA;
}
